# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files (NO subir datasets grandes)
*.csv
*.parquet
*.json

# Spark
spark-warehouse/
metastore_db/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env